<header>
  <div class="container-fluid">
    <div class="row no-gutters h-100 justify-content-center align-items-center">

      <div class="col-lg-7 col-md-6 col-6">
        <div class="d-flex flex-row align-items-center">
          <div class="logo mx-lg-3">
            <a href="/dashboard.html">
              <img src="assets/img/brand/fowlearn-logo.svg" height="46">
            </a>
          </div>
          <div class="search ml-4 d-none d-sm-none d-md-block">
            <span class="icon">
              <i class="fas fa-search"></i>
            </span>
            <input type="text" class="form-control" placeholder="Dilediğiniz şeyi arayın...">
          </div>
        </div>
      </div>

      <div class="col-lg-5 col-md-6 col-6">
        
        <div class="d-flex flex-row align-items-center justify-content-end">

          <div class="view-wrapper mr-4 d-none d-lg-block">
            <div class="btn-group" role="group">
              <button type="button" class="btn active"><i class="fas fa-list"></i> LİSTE</button>
              <button type="button" class="btn"><i class="fas fa-calendar-alt"></i> TAKVİM</button>
            </div>
          </div>

          <div class="my-course mx-2">
            <a href="#">
              Kurslarım
            </a>
          </div>

          <div class="notifications mx-2">
            <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
              <i class="fas fa-bell"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-media">
              
              <div class="dropdown-menu-header">
                <h5 class="mb-0">BİLDİRİMLER</h5>
                <span class="badge badge-round badge-danger">5 Yeni</span>
              </div>

              <ul class="dropdown-menu-content">
                <li>
                  <a href="#">
                    <div class="media">
                      <div class="media-body">
                        <h6 class="media-heading">Javascript Eğitimi Atandı</h6>
                        <span class="media-meta">5 dakika önce</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="media">
                      <div class="media-body">
                        <h6 class="media-heading">Javascript Eğitimi Atandı</h6>
                        <span class="media-meta">5 dakika önce</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="media">
                      <div class="media-body">
                        <h6 class="media-heading">Javascript Eğitimi Atandı</h6>
                        <span class="media-meta">5 dakika önce</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="media">
                      <div class="media-body">
                        <h6 class="media-heading">Javascript Eğitimi Atandı</h6>
                        <span class="media-meta">5 dakika önce</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="media">
                      <div class="media-body">
                        <h6 class="media-heading">Javascript Eğitimi Atandı</h6>
                        <span class="media-meta">5 dakika önce</span>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>

              <div class="dropdown-menu-footer">
                <a href="#">
                  Tüm Bildirimler
                </a>
                <a href="#">
                  <i class="fas fa-cog"></i>
                </a>
              </div>

            </div>
          </div>

          <div class="my-account mx-lg-2 mx-0 ml-2">
            <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
              <div class="avatar circle">KD</div>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-media">
              
              <ul class="dropdown-menu-content h-auto">
                <li>
                  <a href="#">
                    <div class="media align-items-center">
                      <div class="media-picture mr-3">
                        <div class="avatar avatar-lg circle">
                          KD
                        </div>
                      </div>
                      <div class="media-body">
                        <h6 class="media-heading">Kurtuluş DEMİR</h6>
                        <span class="media-meta">kurtulusdemir@outlook.com.tr</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="media">
                      <div class="media-body">
                        <h6 class="media-heading">Kurslarım</h6>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="media">
                      <div class="media-body">
                        <h6 class="media-heading">Kataloglar</h6>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="media">
                      <div class="media-body">
                        <h6 class="media-heading">Anketlerim</h6>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="media">
                      <div class="media-body">
                        <h6 class="media-heading">Sınavlarım</h6>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="media">
                      <div class="media-body">
                        <h6 class="media-heading">Bildirimlerim</h6>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>

              <div class="dropdown-menu-footer">
                <a href="#">
                  <i class="fas fa-sign-out-alt mr-1"></i> Oturumu Kapat
                </a>
              </div>

            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</header>
