<header>
  <div class="container-fluid">
    <div class="row no-gutters h-100 justify-content-center align-items-center">
      <div class="col-lg-8 col-md-7 col-7">
        <div class="d-flex flex-row align-items-center">
          <div class="logo mx-lg-3">
            <a href="/dashboard.html">
              <img src="assets/img/brand/fowlearn-logo.svg" height="46">
            </a>
          </div>
          <div class="education-name ml-4">
            <h1>EcmaScript 6 Eğitimi</h1>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-5 col-5">
        
        <div class="d-flex flex-row align-items-center justify-content-end">

          <div class="exit-course mx-0 mx-md-2">
            <a href="#" class="text-decoration-none">
              <i class="fas fa-sign-out-alt mr-1"></i> Kurstan Çık
            </a>
          </div>

        </div>

      </div>
      <div class="d-block d-md-none w-100">
        <div class="mobile-education-name">
          <h1>EcmaScript 6 Eğitimi</h1>
        </div>
      </div>
    </div>
  </div>
</header>
