<div class="language d-none d-sm-none d-md-none d-lg-block">
    <div class="btn-group">
        <button type="button" class="btn btn-light btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <img src="assets/img/language-dark.svg"> EN
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <button class="dropdown-item" type="button">English</button>
          <button class="dropdown-item" type="button">Arabic</button>
          <button class="dropdown-item" type="button">Turkish</button>
        </div>
    </div>
</div>