.card-over-view{
    .btn-success{
        background-color: #029753;
        border-color: #029753;
        font-weight: 600;
        padding: 10px 30px;
        font-size: 16px;
        &:hover{
            background-color: $color-green-900;
        border-color: $color-green-900;
        }
    }
    .bottom-0{
        bottom: 0;
    }
    .top-0{
        top: 0;
    }
    .head-bg{        
        height: 138px;
        background-image: url('/assets/img/head-banner.jpg');
        background-position-x: right;
        background-repeat: no-repeat;
        background-position-y: center;
        border-top-left-radius: 6px;
            border-top-right-radius: 6px; 
        
        &:before{
            content: '';
            width: 100%;
            opacity: 0.5;
            height: 138px;
            background-color: #04a45b;
            position: absolute;
            top: 0;
            left: 0;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px; 
        }

        .avatar{
            background-color: #ffffff;
            padding: 40px;
        }

        h2{
            color: $color-blue-grey-700;
            font-size: 36px;
        }

        .exams-info{
            span{
                font-size: 16px;
                color: $color-blue-grey-700;
            }
        }
    }

    .not-found-img{
        border-right: 1px solid $color-blue-grey-200;
    }

    .view-content{
        p{
            font-size: 16px;
            color: $color-blue-grey-600;

            strong{
                color: $color-green-900;
            }
        }

        

        .btn-default{
            border: 1px solid $color-blue-grey-200;
            font-size: 14px;
        }

        .hr-border{
            width: 80%;
            left: 0;
            right: 0;
            margin: auto;
            height: 1px;
            background-color: $color-blue-grey-200;
        }
    }
    .questionForm{width: 100%;}
    .question-content{
        
        p{
            font-size: 15px;
            color: $color-blue-grey-700;
            margin-bottom: 5px; 
        }
        h3{
            font-size: 24px;
            color: $color-blue-grey-700;
        }
        .questionBlock{
            width: 100%;
            height: auto;
            padding: 20px;
            border-radius: 6px;
            border: 1px solid $color-blue-grey-200;
            text-align: center;
            font-size: 24px;
            color: $color-blue-grey-700;
            margin-top: 25px;
            margin-bottom: 15px;
        }

        .questionList{
            width: 100%;
            height: auto;
            padding: 20px;
            border-radius: 6px;
            border: 1px solid $color-blue-grey-200;
            text-align: left;
            font-size: 15px;
            color: $color-blue-grey-700;
            margin-top: 15px;
            position: relative;
            padding-right: 50px;
            cursor: pointer;
            &:before{
                content: '';
                width: 20px;
                height: 20px;
                border-radius: 50px;
                position: absolute;
                right: 20px;
                top: 0;
                bottom: 0;
                margin: auto;
                border: 2px solid $color-blue-grey-200;
            }
            &.active{
                border-color: #04a45b;
                color: #04a45b;
                &:before{
                    border-color: #04a45b;
                }
                &:after{
                    content: '';
                    width: 10px;
                    height: 10px;
                    border-radius: 50px;
                    position: absolute;
                    right: 25px;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    background-color: #04a45b;
                }
            }
        }

        
       
    }
    
    .surveyForm{width: 100%;}

    .survey-content{
        textarea{
            padding: 20px;
            font-size: 14px;
            border: 1px solid $color-blue-grey-200;
            border-radius: 6px;
            width: 100%;
            height: 200px;
            &::placeholder{
                color: $color-blue-grey-700;
            }
        }
        
        .surveyList{
            padding: 20px;
            font-size: 80px;
            text-align: center;
            border: 1px solid $color-blue-grey-200;
            border-radius: 6px;
            margin-bottom: 5px;
            cursor: pointer;
            &.active{
                border-color: #04a45b;
                color: #04a45b;
            }
        }
    }
}
.survey{
    .head-bg{        
        background-image: url('/assets/img/head-banner-two.jpg');
    }
}

.course{
    .head-bg{        
        background-image: url('/assets/img/head-banner-tree.jpg');
    }
}

.no-head-img{
    background-image: none !important;
    .spn-right{
        right: 40px;
        top: 50px;
    }
}


@media (max-width: 992px) {
    .card-over-view{
        .not-found-img{
            width: 100%;
            border-right: none !important;
            border-bottom: 1px solid $color-blue-grey-200;

            img{
                
            }
        }
    }
    
}
@media (max-width: 768px) {
    .card-over-view{
        .not-found-img{
            width: 100%;
            border-right: none !important;
            border-bottom: 1px solid $color-blue-grey-200;
        }
    }
   
}

@media (max-width: 767px) {
    .card-over-view{
        .head-bg{
            background-image: none;
            margin-bottom: 30px;
            &:before{
                height: 170px;
            }

            .flex-row{width: 92%;}

            h2{
                font-size: 28px !important;
                text-align: center !important;
                width: 100%;
                margin-left:0px !important;
                margin-bottom:10px !important;
            }
    
            .exams-info{
                span{
                    width: 33.33%;
                    font-size: 12px !important;
                    margin-left:0px !important;
                    text-align: center !important;
                }
            }
        }
        div{
            display: block !important;
        }
        .avatar{
            padding: 13px 14px 13px 15px !important;
            width: 60px;
            height: 60px;
            margin-left: 43% !important;
            margin-top: 15px;
            margin-bottom: 15px;
            img {
                width: 100%;
            }
        }
        .not-found-img{
           padding: 0 !important;
           padding-bottom: 50px !important;
        }
       
    }

    .no-head-img{
        .avatar{
            margin-left: 40% !important;
        }
        .exams-info{
            width: 95%;
            height: 77px;
        }
        .spn-right{
            width: 100% !important;
            height: 20px;
            right: 6px !important;
            left: -20px !important;
            top: 200px;
            bottom: 55px !important;
            margin: auto !important;
        }
    }
    
}

@media (max-width: 425px) {

    .question-content{
        .questionBlock{
            font-size: 20px !important;
        }
    }
   
    .survey-content{
        .surveyList{
            padding: 5px 20px 5px 20px !important;
            font-size: 40px !important;
        }
    }
  
    .question-btn{
        .btn-success{
            width:100%;
        }
    }
    .card-over-view{
        .head-bg{
            background-image: none;
            margin-bottom: 30px;
            &:before{
                height: 170px;
            }

            .flex-row{width: 92%;}

            h2{
                font-size: 18px !important;
                text-align: center !important;
                width: 100%;
                margin-left:0px !important;
                margin-bottom:10px !important;
            }
    
            .exams-info{
                span{
                    width: 33.33%;
                    font-size: 12px !important;
                    margin-left:0px !important;
                    text-align: center !important;
                }
            }
        }
        div{
            display: block !important;
        }
        .avatar{
            padding: 13px 14px 13px 15px !important;
            width: 60px;
            height: 60px;
            margin-left: 43% !important;
            margin-top: 15px;
            margin-bottom: 15px;
            img {
                width: 100%;
            }
        }
        .not-found-img{
           padding: 0 !important;
           padding-bottom: 50px !important;
        }
       
    }
    .no-head-img{
        .avatar{
            margin-left: 38% !important;
        }
        .exams-info{
            width: 92%;
            height: 77px;
        }
        .spn-right{
            width: 100% !important;
            height: 20px;
            right: 6px !important;
            left: -15px !important;
            top: 200px;
            bottom: 55px !important;
            margin: auto !important;
        }
    }
}
@media (max-width: 375px) {
    .card-over-view{
        .avatar{
            margin-left: 40% !important;
        }
        .not-found-img{
           padding: 0 !important;
           padding-bottom: 50px !important;
           img{
               width: 80%;
           }
        }
       
    }

    .no-head-img{
        .avatar{
            margin-left: 37% !important;
        }
    }
    
}

@media (max-width: 320px) {
    .card-over-view{
        .head-bg{
            background-image: none;
            background-color: #04a45b73;;
            margin-bottom: 30px;
            min-height: 180px;
            height:auto;
            &:before{
                height: auto;
            }
        .avatar{
            margin-left: 38% !important;
        }
    }
        .not-found-img{
           padding: 0 !important;
           padding-bottom: 50px !important;
           img{
               width: 80%;
           }
        }
        .no-head-img{
            .avatar{
                margin-left: 35% !important;
            }
        }
    }

  
    
}