.category-list-wrapper {
    .header{
        min-height: 140px;
        height: 140px;
        position: relative;
        .bg-image{
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            border-radius: 6px 6px 0 0;
            position: absolute;
            top:0;
            left:0;
            width: 100%;
            height: 100%;
            z-index: 0;
            &:before{
                content: ' ';
                position: absolute;
                top:0;
                left:0;
                width: 100%;
                height: 100%;
                background: rgba(0,0,0,0.5);
                border-radius: 6px 6px 0 0;
            }
        }
        h2{
            font-weight: 600;
        }
    }
    .content{
        background-color: $color-white;
        border-radius: 0 0 6px 6px;
        .category-item{
            border-radius: 6px;
            min-height: 200px;
            .bg-image{
                min-width: 240px;
                border-radius: 6px 0 0 6px;
                position: relative;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
                &:before{
                    content:'';
                    position: absolute;
                    top:0;
                    left:0;
                    width: 100%;
                    height: 100%;
                    background: rgba(0,0,0,0.4);
                    border-radius: 6px 0 0 6px;
                }
            }
            .item-content{
                .title{
                    font-size:18px;
                }
                .description{
                    font-size:15px;
                }
                .details{
                    font-size:14px;
                    .date{
                        color:#fcb900;
                    }
                }
            }
            a.stretched-link{
                text-indent: -9999px;
            }
            &:not(.private) {
                &:hover{
                    .item-content{
                        background-color:#fffcf4;
                    }
                }
            }
            &.private{
                background-color: #f6f6f6;
                .bg-image{
                    &:before{
                        background: rgba(255,255,255,0.5);
                    }
                    i{
                        position: absolute;
                        bottom:15px;
                        left:15px;
                        font-size:40px;
                        color:$color-black;
                        opacity: 0.5;
                    }
                }
                .item-content{
                    .private-text{
                        font-size:14px;
                        color:#e62020;
                    }
                }
            }
        }
    }
}

@media (max-width:767px) {
    .category-list-wrapper{
        .content{
            .category-item{
                flex-direction: column;
                .bg-image{
                    height: 180px;
                    border-radius: 6px 6px 0 0;
                    &:before{
                        border-radius: 6px 6px 0 0;
                    }
                }
                .item-content{
                    min-height: auto !important;
                }
                a.stretched-link{
                    line-height: 0px;
                }
            }
        }
    }
}