.my-courses-wrapper {

    .page-header-wrapper{
        .bg-image.my-courses{
            background-image: url('../../assets/img/my-courses-banner.png');
        }
    }

    .content{
        background-color: $color-white;
        border-radius: 6px;

        .lms-card{
            border-radius: 0;
            background-color: transparent;
            .bg-image{
                height: 150px;
                background-color: $color-blue-grey-100;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
            }
            .content{
                .title{
                    font-size:15px;
                    color:$color-blue-grey-800;
                }
                p{
                    font-size:13px;
                }
            }
        }
    }
}

@media (max-width:767px) {
    .category-list-wrapper{
        .content{
            .category-item{
                flex-direction: column;
                .bg-image{
                    height: 180px;
                    border-radius: 6px 6px 0 0;
                    &:before{
                        border-radius: 6px 6px 0 0;
                    }
                }
                .item-content{
                    min-height: auto !important;
                }
                a.stretched-link{
                    line-height: 0px;
                }
            }
        }
    }
}